.custom-checkbox {
  .custom-control-input:not(:checked) ~ .custom-control-label {
    &::after {
      border: 2px solid $border-color;
      border-radius: $custom-checkbox-indicator-border-radius;
    }
  }
}
.custom-checkbox {
  .custom-control-input:not(:checked) ~ .custom-control-label {
    &::after {
      border: 2px solid $border-color;
      border-radius: $custom-checkbox-indicator-border-radius;
    }
  }
}
